@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This sample app stores your Entra ID tenant ID and your Entra ID user object ID for each todo item added.</p>

<p>It also uses Application Insights within the back-end to log data for troubleshooting.</p>
